<!-- <nav>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
  </ul>
</nav> -->

<!-- <nav>
  <div class="logo">
    <h2>CYCLO</h2>
    <img src="img/icon.png" alt="logo" />
  </div>

  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
    <li>
      <a href="#" class="cta"><button>Contact</button></a>
    </li>
  </ul>

  <div class="hamburger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<section class="banner"></section> -->
<!-- 
<header>
  <a href="#" class="logo"
    ><span>cyclo</span><img src="img/icon.png" alt="logo"
  /></a>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
  </ul>
</header>
<section class="banner"></section> -->

<nav>
  <div class="logo">
    <h2>cyclo</h2>
    <img src="img/icon.png" alt="logo" />
  </div>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">Search</a></li>
    <li><a href="#">Sign In</a></li>
    <li><a href="#">Register</a></li>
  </ul>

  <div class="hamburger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<section class="banner"></section>
